**Задание 1**. Дан список с визитами по городам и странам. 
Напишите код, который возвращает отфильтрованный список geo_logs, содержащий только визиты из России.

In [229]:
geo_logs = [
    {'visit1': ['Москва', 'Россия']},
    {'visit2': ['Дели', 'Индия']},
    {'visit3': ['Владимир', 'Россия']},
    {'visit4': ['Лиссабон', 'Португалия']},
    {'visit5': ['Париж', 'Франция']},
    {'visit6': ['Лиссабон', 'Португалия']},
    {'visit7': ['Тула', 'Россия']},
    {'visit8': ['Тула', 'Россия']},
    {'visit9': ['Курск', 'Россия']},
    {'visit10': ['Архангельск', 'Россия']}
]

In [230]:
[geo for geo in geo_logs if list(geo.values())[0][1]=='Россия']

[{'visit1': ['Москва', 'Россия']},
 {'visit3': ['Владимир', 'Россия']},
 {'visit7': ['Тула', 'Россия']},
 {'visit8': ['Тула', 'Россия']},
 {'visit9': ['Курск', 'Россия']},
 {'visit10': ['Архангельск', 'Россия']}]

**Задание 2**. Выведите на экран все уникальные гео-ID из значений словаря ids. Т. е. список вида [213, 15, 54, 119, 98, 35]

In [231]:
ids = {'user1': [213, 213, 213, 15, 213], 
       'user2': [54, 54, 119, 119, 119], 
       'user3': [213, 98, 98, 35]}

In [232]:
set([num for id in ids.values() for num in id])

{15, 35, 54, 98, 119, 213}

**Задание 3**. Дан список поисковых запросов. Получить распределение количества слов в них. 
Т. е. поисковых запросов из одного - слова 5%, из двух - 7%, из трех - 3% и т.д.

In [233]:
queries = [
    'смотреть сериалы онлайн',
    'новости спорта',
    'афиша кино',
    'курс доллара',
    'сериалы этим летом',
    'курс по питону',
    'сериалы про спорт',
]

In [234]:
nums=[1,2,3]
def f(i):
    x=0
    for querie in queries:
        if len(querie.split())==i:
            x=x+1
    return round(x/len(queries)*100,1)
print(list(map(f,nums)))

[0.0, 42.9, 57.1]

**Задание 4**. Дана статистика рекламных каналов по объемам продаж. Напишите скрипт, который возвращает название канала с максимальным объемом.
Т. е. в данном примере скрипт должен возвращать 'yandex'.

In [235]:
stats = {'facebook': 55, 'yandex': 120, 'vk': 115, 'google': 99, 'email': 42, 'ok': 98}

In [236]:
max([(name,num) for num, name in stats.items()])[1]

'yandex'

**Задание 5**. Напишите код для преобразования произвольного списка вида ['2018-01-01', 'yandex', 'cpc', 100] (он может быть любой длины) в словарь {'2018-01-01': {'yandex': {'cpc': 100}}}

In [237]:
listt = ['2018-01-01', 'yandex', 'cpc', 100]

In [238]:
def make_dictionary(listt):
    if len(listt) == 1:
        return listt[0]
    return {listt[0]: make_dictionary(listt[1:])}
print(make_dictionary(listt))

{'2018-01-01': {'yandex': {'cpc': 100}}}

**Задание 6.** Минимум две задачи из лабораторной работы № 1 на списки реализовать через list compreshin. Задачи на строки так же решаются в одну команду, тминимум

Посчитайте, сколько в строке символов, исключая пробелы:

In [239]:
string_01 = "History is always written by the winners. When two cultures clash, the loser is obliterated, and the winner writes the history books - books which glorify their own cause and disparage the conquered foe. As Napoleon once said, 'What is history, but a fable agreed upon?'"

In [240]:
print("Количество символов в строке:",len(''.join(string_01.split())))

Количество символов в строке: 225

Напишите функцию, которая принимает номер группы и выводит список (фамилии, имена, отчества) всех студентов этой группы. Необходимо обращаться к словарю.

In [241]:
student_dict = {
 '0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']}

In [226]:
group=str(input("Введите группу студента: "))
[value[0:3] for value in student_dict.values()if value[len(value)-1]==group]

Введите группу студента: БСТ161

[['Антонов', 'Антон', 'Игоревич'],
 ['Степанова', 'Наталья', 'Александровна'],
 ['Боков', 'Игорь', 'Харитонович']]

Дан список:

In [242]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 14, 46, 273, 22, 99, 15, 1000]

Напишите алгоритм, который выводит число, равное сумме элементов списка, которые больше 10, но меньше 100, и которые больше 200, но меньше 500.

In [243]:
sum([x for x in list_01 if 10<x<100 or 200<x<500])

1291